.layutFLex{

display: flex;
.layutFLexLeft{
width: 25%;



}
.layutFLexRight{
width: 75%;
border:1px solid #d7e0e5;
border-bottom: none;
}

}
.ant-tabs-top > .ant-tabs-nav{

    margin: 0 0  0 0 !important;
}
.CodeMirror-lines{

padding:0 !important;
}

.layutFLexRightBottom{
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 0;
    width: 75%;
}
#myCanvas canvas{
    width: 500px !important;
    height: 300px !important;
    position: absolute!important;
    margin: 0!important;
}